html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow: hidden; */
  background: transparent;
}

.excerpt-text {
  overflow: auto;
  background: white;
  width: 100%;
  /* height: 100%; */
  padding: 10vh 0;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn;
  animation-duration: 500ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.excerpt-text p {
  line-height: 1.8em;
  padding-left: 15vw;
  padding-right: 15vw;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.excerpt-subtitle {
    text-align: center;
    letter-spacing: -0.025em;
    opacity: 0.5;
    margin: 0;
}

.excerpt-title {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -0.07rem;
    margin: 0.5em 0 1em 0;
    width: auto;
}


a {
    color: inherit;
}

.content-container {
  margin: 0 auto;
  margin-top: 4rem;
}

.excerpt-text .excerpt-figure img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.excerpt-text .excerpt-figure {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.content-container.content-center {
    text-align: center;
}