@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

/* Typography */
body {
  font-family: 'Roboto';
  background: black;
  color: #aaa;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  display: grid;
  justify-content: center;
  align-items: center;
}

a {
  color: #ddd;
  text-decoration: dotted;
  background: #222;
  border-radius: 0.3em;
  padding: 0.15em 0.25em;
  box-shadow: 0px 0px 0px 0px black;
  transition: all 50ms;
}

a:focus {
  /*box-shadow: 0px 0px 0px 4px white;*/
}

a:hover, a:focus {
  color: white;
  background: #444;
  /*box-shadow: 0px 0px 0px 2px #444;*/
  transition: all 50ms;
}

a:active {
  transform: translateY(20px);
}

a:visited {
  /*opacity: 0.5;*/
}

h1 {
  color: white;
}

.subtitle {
  margin-top: 0.5em;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.intro {
  width: 400px;
  max-width: 100%;
  text-align: center;
  margin-top: -64px;
}