/* Utility */
body, html {
  height: 100%;
}

/* Typography */
body {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgba(0,0,0,0.87);
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#global-container.init {
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-out
}

#global-container.ready {
    opacity: 1;
    transition: all 100ms linear;
    visibility: visible;
}

.title {
  font-weight: 700;
  font-size: 4.125rem;
  letter-spacing: -0.005em;
  text-rendering: optimizeSpeed;
  line-height: 1em;
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 1;
  animation-delay: 0;

}

.subtitle {
  font-size: 2rem;
  color: #000000;
  line-height: 1em;
  margin: 0;
  text-align: center;
  position: relative;
  overflow: visible;
  margin-top: 0.3em;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.05em;
  animation-delay: 250ms;

}

.text-tighter {
  letter-spacing: -0.055em;
}

.text-blue {
  color: #3981ED;
}

.text-green {
  color: #56B863;
}

.text-orange {
  color: #F78D3F;
}

.subtitle::after {
  content: '';
  width:  100%;
  background: transparent url('/title-bg.png') center center no-repeat;
  display: block;
  position: absolute;
  top: -300%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  background-size: 100%;
  height: 160px;
  z-index: -1;
}


/* Layout */
.container-center-page {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.page-footer {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  color: rgba(0,0,0,0.5);
  font-size: 0.75rem;
  animation-delay: 3s;
}

/* Modules */

.link-list {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.link-list .link {
  margin: 0;
  transition: all 200ms ease-out;
}

.link-list .link a {
  font-family: "Whitney SSm SC A", "Whitney SSm SC B", sans-serif;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: 700;
  color: inherit;
  display: block;
  padding: 1.5vh 0;
}

.link-list .link:hover, .link-list .link:focus {
  transform: scale(1.05);
  transition: all 75ms cubic-bezier(0.4, 0, 1, 1);
  opacity: 1;
  outline: 0;
}

.link-list .link:hover, .link-list .link:focus {
}


.link-blue {
  background: transparent url('/link-arrow-right-blue.svg') right center no-repeat;
  background-size: auto 26px;
  animation-delay: 850ms;
  color: #3981ED;
}

.link-green {
  background: transparent url('/link-arrow-right-green.svg') right center no-repeat;
  background-size: auto 26px;
  animation-delay: 1000ms;
  color: #56B863;

}

.link-orange {
  background: transparent url('/link-arrow-right-orange.svg') right center no-repeat;
  background-size: auto 26px;
  animation-delay: 1150ms;
  color: #F78D3F;
}

.link-list-pillbox {
    animation-delay: 1350ms;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border: 3px solid #f5f5f5;
    border-radius: 5rem;
    height: 46px;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    max-width: 354px;
    margin: 0 auto;
    box-sizing: border-box;
}

.link-list-pillbox li {
    text-align: center;
    line-height: 40px;
    flex: 1;
}

.link-list-pillbox li a {
    text-decoration: none;
    font-family: "Whitney SSm SC A", "Whitney SSm SC B", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: inherit;
    transition: all 200ms ease-out;
    opacity: 0.8;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
}

.link-list-pillbox li a:after {
  content: '';
  background: transparent url('/link-arrow-right-small.svg') center center no-repeat;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 4px;
  background-size: 10px auto;
  width: 10px;
  }

.link-list-pillbox li a:hover, .link-list-pillbox li focus {
    transform: scale(1.15);
    transition: all 100ms linear;
    opacity: 1;
}

/* Animations */


#global-container.ready .animated-intro-slide {
  animation-name: slideUpIn;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0, 0, 0.17, 0.99);
  animation-fill-mode: forwards;
  visibility: hidden;
}

#global-container.ready .animated-intro-pop {
  animation-name: popIn;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0, 0, 0.17, 0.99);
  animation-fill-mode: forwards;
  visibility: hidden;
}

#global-container.ready .animated-intro-fade {
  animation-name: fadeIn;
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(0, 0, 0.17, 0.99);
  animation-fill-mode: forwards;
  visibility: hidden;
}


@keyframes slideUpIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50%)
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%)
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}


@keyframes popIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8)
  }
  50% {
    visibility: visible;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

/* Media Queries */

@media screen and (max-height: 600px) {
  .container-center-page {
    display: block;
    height: initial;
    margin-top: 15vh;
  }
  .link-list {
    margin-top: 10vh;
    margin-bottom : 10vh;
  }

 .page-footer {
   position: static;
   margin-top: 10vh;
 } 
}


@media screen and (max-width: 550px) {
  .container-center-page {
    display: block;
    height: initial;
    margin-top: 15vh;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    height: auto;
  }

  .title {
    font-size: 2.45rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }

  .subtitle::after {
    top: -360%;
  }
  
  .link-list, .link-list-pillbox {
    margin-top: 10vh;
  }

  .link-list-pillbox {
    border-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    text-indent: -8vw;
  }

  .link-list-pillbox li a {
    font-size: 1rem;
  }

  .link-list .link {
    background-size: auto 14px;
    font-size: 1.75rem;
    margin-right: 0;
  }

  .link-list .link a {
    padding-left: 10vw;
    box-sizing: border-box;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-right: 10vw;
  }
  .link-list .link a {
    font-size: inherit;
  }


  .page-footer {
    line-height: 1.5em;
    opacity: 0.5;
    position: static;
    margin-top: 9vh;
    box-sizing: border-box;
    max-width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 1vh;
  }
}