body {
  background: #09090a url("../images/dark_leather.png") top left repeat;
  font-family: "Baskerville", "Libre Baskerville", Georgia, serif;
  color: #676b73;
  font-size: 14px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.sword {
  width: 156px;
  height: 404px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 50px;
  background: transparent url("../images/sword.png") center center no-repeat;
  text-indent: -9999px; }

.sword_logo {
  width: 925px;
  height: 292px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 17px;
  margin-top: 25px;
  margin-bottom: 10px;
  background: transparent url("../images/main_got_logo.png") center center no-repeat;
  text-indent: -9999px; }

.got-wrapper {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

.countdown_section {
  position: relative;
  top: 70px;
  width: 70px;
  padding: 0;
  margin: 0 auto;
  margin-right: 55px;
  height: 23px;
  background: transparent;
  display: inline-block;
  font-family: Georgia, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  background: #141b21 url("../images/label_bg_blue.png") center bottom repeat-x;
  color: #5a6672;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 0 6px 0;
  margin-top: 4px;
  border-top: 1px solid #2c3238;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5); }


.countdown_section:last-child {
  margin-right: 0; }

.countdown_amount {
  color: #171c24;
  display: inline-block;
  width: 70px;
  position: absolute;
  bottom: 32px;
  left: 0px;
  padding: 10px 0;
  font-size: 46px;
  font-family: "Baskerville", "Libre Baskerville", "Times New Roman", serif;
  font-weight: 700;
  background: #a1a3a7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-shadow: 0px 1px 1px #b1b3b6;
  border-top: 1px solid #919194;
  -webkit-box-shadow: inset 0px 0px 45px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 45px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 45px 0px rgba(0, 0, 0, 0.5); }

.right_links {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.got_logo {
  width: 226px;
  height: 53px;
  text-align: center;
  font-size: 12px;
  color: #4f5258;
  background: transparent url("../images/got_logo.png") center bottom no-repeat; }

.links {
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: 250px;
  background: transparent; }

.pokusin_link {
  margin-bottom: 10px;
  display: inline-block; }

a:link, a:visited {
  color: #676b73;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

a:hover {
  color: #b6b8bd; }

a:active {
  position: relative;
  top: 2px; }

.like_button {
  width: 100px;
  overflow: hidden;
  opacity: 0.4;
  margin-bottom: 10px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.like_button:hover {
  opacity: 0.7;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
