* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Write your CSS! */
html {
  height: 100%; }

body {
  background: #e75f58;
  font-family: "proxima-nova",sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 14px; } }

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 500;
  font-family: "jubilat",sans-serif; }

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.twitter-follow-button {
  position: absolute;
  top: 1em;
  display: none;
  right: 0.5em; }

header {
  width: 100%;
  padding: 3.5em 0; }
  header > div {
    padding-left: 20px;
    padding-right: 20px;
    *zoom: 1;
    max-width: 41.25em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    position: relative; }
    header > div:before, header > div:after {
      content: " ";
      display: table; }
    header > div:after {
      clear: both; }
    header > div h2 {
      font-size: 2em;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 0;
      padding-bottom: 0; }
      header > div h2 span {
        color: white;
        text-shadow: 0 3px 0 rgba(0, 0, 0, 0.15); }
    header > div p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.2em;
      line-height: 1.4em; }
      header > div p span {
        color: white; }

.project {
  *zoom: 1;
  max-width: 41.25em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5em; }
  .project:before, .project:after {
    content: " ";
    display: table; }
  .project:after {
    clear: both; }
  .project .image_area {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .project .image_area:last-child {
      margin-right: 0; }
    .project .image_area img {
      max-width: 95%;
      border-radius: 8px;
      box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.1); }
  .project .description {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .project .description:last-child {
      margin-right: 0; }
    .project .description p {
      margin-top: 0.5em; }
    .project .description dl {
      color: white;
      font-size: 1.1em;
      margin-bottom: 0;
      padding-bottom: 0; }
      .project .description dl dt {
        float: left;
        font-weight: bold;
        margin-right: 0.5em; }
      .project .description dl dd {
        margin-left: 0; }
    .project .description h4 {
      margin-top: 0;
      padding-top: 0;
      font-family: "proxima-nova", sans-serif;
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 0;
      position: relative;
      padding-right: 120px;
      word-wrap: break-word; }
      .project .description h4 a, .project .description h4 a:visited {
        position: absolute;
        right: 0;
        top: 0;
        background: #e75f58;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
        font-size: 0.75em;
        color: white;
        -webkit-transition: all 100ms ease-in-out;
        -moz-transition: all 100ms ease-in-out;
        -ms-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out; }
        .project .description h4 a:hover, .project .description h4 a:focus, .project .description h4 a:visited:hover, .project .description h4 a:visited:focus {
          background: #ed7f77;
          color: white; }
        .project .description h4 a:active, .project .description h4 a:visited:active {
          position: relative;
          top: 1px;
          background: #d1574c;
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 480px) {
    .project .image_area {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .project .image_area:last-child {
        margin-right: 0; }
      .project .image_area img {
        max-width: 100%;
        margin-bottom: 1em; }
    .project .description {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%;
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      .project .description:last-child {
        margin-right: 0; } }

.count, .s_project {
  display: block;
  border-bottom: none;
  text-align: center;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-bottom: 1em; }
  .count:last-child, .s_project:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    .count:nth-child(3n), .s_project:nth-child(3n) {
      margin-right: 0; } }
  .count:hover img, .count:focus img, .s_project:hover img, .s_project:focus img {
    position: relative;
    top: -2px;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.35); }
  .count:active img, .s_project:active img {
    top: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.35); }
  .count h4, .s_project h4 {
    font-size: 1.2em;
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 0;
    padding-bottom: 0; }
  .count p, .s_project p {
    margin-top: 0.5em; }
    .count p .status, .s_project p .status {
      font-weight: bold; }
  .count img, .s_project img {
    -webkit-transition: all 80ms ease-in-out;
    -moz-transition: all 80ms ease-in-out;
    -ms-transition: all 80ms ease-in-out;
    -o-transition: all 80ms ease-in-out;
    transition: all 80ms ease-in-out;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15); }

.s_project img {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15); }
.s_project h4 {
  text-align: left; }
.s_project p {
  word-wrap: break-word;
  text-align: left;
  font-weight: 600; }

@media screen and (max-width: 480px) {
  .count, .s_project {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 47.58542%; }
    .count:nth-child(2n), .s_project:nth-child(2n) {
      margin-right: 0; }
    .count:last-child, .s_project:last-child {
      margin-right: 0; } }
section {
  padding: 1em 0 1.5em;
  width: 100%;
  background: #00A79D; }
  section > div {
    padding-left: 20px;
    padding-right: 20px;
    *zoom: 1;
    max-width: 41.25em;
    margin-left: auto;
    margin-right: auto; }
    section > div:before, section > div:after {
      content: " ";
      display: table; }
    section > div:after {
      clear: both; }
  section h3 {
    font-size: 1.8em;
    color: white; }
  @media screen and (max-width: 480px) {
    section h3 {
      font-size: 2.3em; } }

#social h4 {
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: relative; }
  #social h4 a {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
    right: 0;
    top: -0.5em;
    font-size: 0.7em;
    padding: 7px 10px;
    border-bottom: none;
    background: rgba(255, 255, 255, 0.75);
    color: #b95722;
    border-radius: 4px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
    position: absolute; }
    #social h4 a:hover, #social h4 a:focus {
      background: rgba(255, 255, 255, 0.9); }
    #social h4 a:active {
      top: -0.4em;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }

.mobile-link {
  display: none; }

@media screen and (max-width: 480px) {
  #social h4 {
    font-size: 1.8em; }
    #social h4 a {
      display: none; }
  #social .mobile-link {
    display: block;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    padding: 7px 10px;
    border-bottom: none;
    background: rgba(255, 255, 255, 0.75);
    color: #b95722;
    border-radius: 4px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2); }

  #bookmarks {
    margin-bottom: 1em; } }
#dribbble, #flickr {
  *zoom: 1;
  max-width: 41.25em;
  margin-left: auto;
  margin-right: auto; }
  #dribbble:before, #dribbble:after, #flickr:before, #flickr:after {
    content: " ";
    display: table; }
  #dribbble:after, #flickr:after {
    clear: both; }
  #dribbble a, #flickr a {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    border-bottom: none; }
    #dribbble a:last-child, #flickr a:last-child {
      margin-right: 0; }
    @media screen and (min-width: 480px) {
      #dribbble a:nth-child(3n), #flickr a:nth-child(3n) {
        margin-right: 0; } }
    #dribbble a img, #flickr a img {
      max-width: 100%;
      border-radius: 5px;
      margin-bottom: 1em;
      box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
      -webkit-transition: all 100ms ease-in-out;
      -moz-transition: all 100ms ease-in-out;
      -ms-transition: all 100ms ease-in-out;
      -o-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out; }
    #dribbble a:hover img, #dribbble a:focus img, #flickr a:hover img, #flickr a:focus img {
      position: relative;
      top: -2px;
      box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.35); }
    #dribbble a:active img, #flickr a:active img {
      top: 2px;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.35); }
  @media screen and (max-width: 480px) {
    #dribbble a, #flickr a {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 47.58542%; }
      #dribbble a:last-child, #flickr a:last-child {
        margin-right: 0; }
      #dribbble a:nth-child(2n), #flickr a:nth-child(2n) {
        margin-right: 0; } }

.preserve_wrap {
  *zoom: 1;
  max-width: 41.25em;
  margin-left: auto;
  margin-right: auto; }
  .preserve_wrap:before, .preserve_wrap:after {
    content: " ";
    display: table; }
  .preserve_wrap:after {
    clear: both; }
  .preserve_wrap #bookmarks {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    .preserve_wrap #bookmarks:last-child {
      margin-right: 0; }
    .preserve_wrap #bookmarks a {
      display: block;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding: 10px;
      border-bottom: none;
      background: rgba(255, 255, 255, 0.1);
      margin: 0;
      height: 70px;
      overflow: hidden; }
      @media screen and (min-width: 480px) {
        .preserve_wrap #bookmarks a:nth-child(2n) {
          margin-right: 0; }
        .preserve_wrap #bookmarks a:nth-child(3n), .preserve_wrap #bookmarks a:nth-child(2) {
          background: rgba(255, 255, 255, 0.05); } }
      .preserve_wrap #bookmarks a:last-child {
        margin-right: 0; }
      .preserve_wrap #bookmarks a:hover, .preserve_wrap #bookmarks a:focus {
        background: rgba(255, 255, 255, 0.15); }
    @media screen and (max-width: 480px) {
      .preserve_wrap #bookmarks a {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%;
        height: auto; }
        .preserve_wrap #bookmarks a:last-child {
          margin-right: 0; }
        .preserve_wrap #bookmarks a:nth-child(2n) {
          background: rgba(255, 255, 255, 0.05); } }

#contact .half {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #contact .half:last-child {
    margin-right: 0; }
  #contact .half p, #contact .half ul li {
    font-size: 1.2em;
    font-weight: 600; }
@media screen and (max-width: 480px) {
  #contact .half {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%; }
    #contact .half:last-child {
      margin-right: 0; } }

footer {
  padding: 2em 0;
  background: rgba(0, 0, 0, 0.1);
  text-align: center; }
  footer > div {
    *zoom: 1;
    max-width: 41.25em;
    margin-left: auto;
    margin-right: auto;
    height: 100%; }
    footer > div:before, footer > div:after {
      content: " ";
      display: table; }
    footer > div:after {
      clear: both; }
    footer > div a {
      display: block;
      width: 100%;
      height: 100%;
      border-bottom: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles for mobile */ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles for tablet */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* Don't forget your Retina CSS! */ }
