@import url(reset.css);
body { background: #DDD; }

p { color: #111; display: block; height: 242px; width: 100%; font-size: 1.5em; font-family: sans-serif; text-align: center; font-weight: 400; width: 100%; line-height: 10em; background: url("../images/white_bg.png") center center no-repeat; text-shadow: 0px 1px 0px #FFF; filter: dropshadow(color=white, offx=0, offy=1); }

sup { font-weight: 400; font-size: 0.3em; position: relative; display: inline-block; top: -10px; left: -1px; }

b { font-weight: 600; }
